*{
 padding: 0;
 margin: 0;
}
@font-face{
	font-family: "SegoeWP";
	src: url(../fonts/segoe.ttf);
}
@font-face{
	font-family: "SegoeWP-semi";
	src: url(../fonts/Segoe-semi.ttf);
}
@font-face{
	font-family: "Helvetical";
	src: url(../fonts/HelveticaLTStdRoman.ttf);
}
body{
	/*height: 100vh;*/
	margin: 0;
	padding: 0;
	font-family: SegoeWP;
}
li{
	list-style:none;
}
ul,li{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4{
	margin: 0;
}
.link{
	text-decoration: none;
}
div{
	box-sizing: border-box;
}
header{
	padding: 8px 0;
}
.border{
	width: 995px;
	margin: 0 auto;

}
.header-top{
	padding: 8px 0;
	background-color: #424242;
}

.header-top-menu{
	display: flex;
	justify-content: flex-end;
}
.header-top-menu__link{
	color:white;
	font-size: 16px;
	display: inline-block;
	margin-left: 28px;
}
.header-top-menu__link:hover{
	text-decoration: underline;
}
.header-user{
	padding: 20px 0;
	background-color: #ededed;
}
.header-user-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-user-search{
	display: flex;
	justify-content: space-between;
	border-radius: 3px;
	border:5px solid #79b260;
	background-color: #79b260; 
	box-sizing: border-box;
}
.input_search{
	width:325px;
	height: 30px;
	border:none;
}
.header-user-search__img{
	height: 23px;
	width: 23px;
}
.header-user-search_form{
	display: flex;
	align-items: center;
	width: 440px;
	justify-content: space-between;
	padding-right: 10px;
}
.input_button{
	border:none;
	background-color: #79b260;
	color:white;
	font-size: 20px;
	font-weight: 500;
	cursor:pointer;
}
/*******************************Корзина**************************************/
.header-user-basket{
	display: flex;
	color:#6d6d6d;
	font-family: sans-serif;
	height:80px;
}
.header-user-basket__cart{
	border-right: 1px solid #c6c6c6;
	width: 190px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding:0 5px 0 0;
}
.basket-cart__top{
	display: flex;
	align-items:center;
	justify-content: space-between;
}
.basket-cart__bottom{
	margin-top: 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.basket-cart__span_cart{
	font-size: 23px;
}
.basket-cart__span_items{
	font-size: 13px;
}
.basket-cart__span_sum{
	font-size: 28px;
	font-weight: bold;
}
.basket-cart__check{
	display:block;
	text-decoration: none;
	color:white;
	padding: 7px;
	background-color: #373737;
	border-radius: 3px;
	margin-right: 5px;
}
.basket-cart__check:hover{
	background-color: #696969;
}
.basket-wish{
	padding: 23px; 
}
.basket-wish__top{
	display: flex;
	justify-content: center;
}
.basket-wish__bottom{
	margin-top: 10px;
}
.basket-wish__span{
	font-size: 20px;
	position: relative;
}
.basket-wish__span:after{
	content:"20";
	position: absolute;
	padding:3px 6px;
	background-color: #79b260;
	font-size: 10px;
	border-radius: 10px;
	color:white;
	right:-10px;
	top:-15px;

}
/*******************************Меню*********************************/
.section-menu{
	border-top:1px solid #cecece;
	border-bottom: 1px solid #cecece;

}
.main-menu__list{
	display: flex;
	justify-content: space-between;
}

.main-menu__link{
	display: block;
	padding: 13px 19px;
	color:#5b5b5b;
	font-size: 18px;
	font-weight: bold;
}
.main-menu__link:hover{
	background: linear-gradient(180deg,#92d774,#7ab461);
	color:white;
}
/***********************************Баннер********************************/
.section-banner{
	margin-top: 14px;
}
.banner{
	display: flex;
	justify-content: space-between;
}
.slider{
	width: 710px;
	height: 305px;
	overflow: hidden;
	position: relative;
}
.slider__container{
	width: calc(100%*3);
	height: 100%;
	display: flex;
}
.slider__item{
	height: 305px;
	width: 713px;
}
.slider__before_img{
	filter: brightness(0) invert(1);
	margin-left: 7px;
}
.slider__after_img{
	filter: brightness(0) invert(1);
	margin-left: 11px;
}
.slider__before{
	display: flex;
	align-items: center;
	width: 37px;
	height: 37px;
	position: absolute;
	background-color: black;
	top:50%;
	border-radius: 50px;
	opacity: 0.4;
	transform:translate(25%, -50%); 
	cursor:pointer;
}
.slider__after{
	display: flex;
	align-items: center;
	width: 37px;
	height: 37px;
	position: absolute;
	background-color: black;
	right: 0;
	border-radius: 50px;
	opacity: 0.4;
	top:50%;
	transform:translate(-25%, -50%);
	cursor: pointer;
}
/**********************************************************************/
						
/*****************************Сайдбар************************************/
.section-content{
	margin: 0 auto;
	margin-top: 14px;
}
.content{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.sidebar{
	width: 195px;
	border:1px solid #d6d6d6;
	padding-top: 10px;
	padding-bottom: 40px;
}
.h2{
	font-size: 25px;
	margin: 0;
	padding-left: 20px;
	padding-bottom: 12px;
}
.sidebar__h2{
	color:#696969;
}

.sidebar__h3{
	margin: 0;
}
.sidebar__h3_link{
	padding: 7px 20px;
	display: block;
	text-decoration: none;
	color:#525252;
	font-size: 17px;
	font-family: SegoeWP-semi;
	font-weight: normal;
}
.link_choosen{
background: linear-gradient(180deg,#92d774,#7ab461);
	color:white;
}
.sidebar__h3_link:hover{
	background: linear-gradient(180deg,#92d774,#7ab461);
	color:white;
}

.sidebar__link{
	display: block;
	margin: 0 24px;
	padding-top: 6px;
	padding-bottom: 6px;
	/*border-bottom: 1px solid #e1e2e4;*/
	text-decoration: none;
	color:#696969;
	font-family: SegoeWP;
	font-weight: bold;
	border-top:1px solid #e1e2e4;
	border-bottom: 1px solid #e1e2e4;
}
.sidebar__link:nth-child(1){
	border-top: none;
}
.sidebar__item:hover{
	background: linear-gradient(180deg,#92d774,#7ab461);
}
.sidebar__item:hover .sidebar__link{
	color:white;
	padding-bottom: 7px;
	border:none;
}

/******************************Товары**************************************/
.products{
	width: 790px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.product__container{
	margin-top: 20px;
}
.product__container:nth-child(1){
	margin: 0;
}
.product-container__h3{
	display: inline-block;
	border:1px solid #d6d6d6;
	border-bottom:2px solid white;
	padding: 13px 26px;
	font-size: 20px;
	margin: 0;
}
.product-container__items{
	padding: 18px 15px;
	margin-top: -2px;
	border:1px solid #d6d6d6;
}
.product-container__items_list{ 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.product-container__item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
	text-align: center;
}
.product-container__img{
	width: 109px;
	height: 160px;
	margin: 0 auto;
}
.product-container__link{
	text-decoration: none;
	color:#555454;
	font-size: 17px;
}
.product-container__title{
	margin: 0;
}
.product-container__price{
	font-size: 25px;
	font-weight: bold;
	color:#f05356;
	margin-top: 10px;
}
.product-container__more{
	margin-top: 15px;
	text-align: right;
}
.more_link{
	color:#555454;
	font-weight: bold;
}
.more_link:hover{
	color:#d6d6d6;
}
/********************************Футер***************************************/
.footer{
	margin-top: 24px;
	background:url(../img/back.png) center; 
	background-size: cover;
}
.footer-info{
	display: flex;
	justify-content: space-between;
}
.footer-info-col__h3{
	color:#d3d3d2;
	font-size: 20px;
	font-weight: normal;
	margin-top:24px;
}
.footer-info-col__list{
	width: 170px;
	margin-top: 28px;
}		
.footer-info-col__item{
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #585257;
}
.footer-info-col__item:last-child{
	border-bottom: none;
}
.footer-info-col__link{
	text-decoration: none;
	color:#aeaeaf;
	font-size: 14px;
}
.footer-credit{
	margin-top: 68px;
}
.footer-credit-container__h3{
	text-align: center;
	color:#d2d1d1;
	font-weight: normal;
}
.footer-credit-container__cards{
	display: flex;
	justify-content: center;
}
.footer-credit-container__img{
	margin-left: 5px;
}
.footer-copyright{
	padding:17px 0;
	border-top:1px solid #565353;
	margin-top: 17px;
}
.footer-copyright__h4{
	margin: 0;
	color:#d2d1d1;
	text-align: center;
	font-weight: normal;
	font-size: 18px;
}